extends ./layouts/mainlayout

block content
  .container
    .row
      .col-md-6
        .card
          .card-body
            h5.card-title Card Title
            p.card-text This is a sample card with some content.
            a(href='#' class='btn btn-primary') Go somewhere
